\*colors and fonts*\
h1{
    color: #D76C82;
    font-size: 32px;
   

}
h1,h2,h3,h4{
 font-family: Courier;
}
body{
    background-color: grey;
    font-size: 16px;
    font-family: arial;
}

#carte
{
    width: 800PX;
    margin:0 auto;
    background-color: whitesmoke;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    padding: 60px;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: red;
}
a:hover{
    color: darkblue;
}
#pp{
    width: 120px;
    border-radius: 50%;

}
#link{
    width: 170px;
    border-radius: 10%;
}


#other{
    width: 800PX;
    margin:0 auto;
    background-color: white;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    padding: 60px;
}

@media (max-width:700px){
    .carte {
        width: 500px;
    }
    .link {
        width: 500px;
    }
}